.cursor{
    cursor: pointer;
}

.text-decorator-none{
    text-decoration: none;
}

.backnav{
    background-color: #ffffff !important;
    box-shadow: -1px 5px 16px 5px rgba(163,15,158,0.25);
    z-index: 3;
    height: 80px;
}

h6{
    font-family: 'Magilio', sans-serif!important; 
}

.corNav {
    color: #a30f9e!important;
    align-items: center;
    padding: 10px;
}

.margem{
    color: #a30f9e!important;
    align-items: center;
    margin-right: 450px;
}


.campo{
    width: 400px;
    height: 20px;
}

.tamImg{
    width: 120px;
}

.container{
    justify-content: flex-end!important;
    color: #a30f9e;
    text-decoration: none;
    font-family: 'Magilio', sans-serif!important;                                      
}

.tdLogo{
    justify-content: flex-start;
}

