.cursor{
    cursor: pointer;
}

.text-decorator-none{
    text-decoration: none;
}

.backnav{
    background-color: #ffffff !important;
}

h6{
    font-family: 'Magilio', sans-serif!important; 
}

.corNav {
    color: #a30f9e!important;
    align-items: center;
    padding: 10px;
}

.margem{
    color: #a30f9e!important;
    align-items: center;
    margin-right: 450px;
}

.tamImg{
    width: 120px;
}

.container{
    justify-content: flex-end!important;
    color: #a30f9e;
    text-decoration: none;
    font-family: 'Magilio', sans-serif!important;                                      
}

.tdLogo{
    justify-content: flex-start;
}

.espaco{
    display: flex;
    justify-content: flex-end;
}