/* paleta de cores: 
#a30f9e - Roxo
#000000 - Preto
#ff99ff - Rosa/Roxo-Claro
#ffe2ff - Branco-Perolado
#ffffff - Branco
   
*/
.branco{
    color: white;
    text-decoration: none;
    font-size: 20px!important;
}

.fundoTexto{
    background-color: white;
}

.entrar{
    color: white!important;
    font-weight: 400!important;
    font-family: 'Magilio', sans-serif!important;
}

.text-decorator-none{
    text-decoration: none;
}

.button-logar{
    background-color:#ff99ff  !important;
    color: #a30f9e!important;
}

.fonte{
    font-family: 'Magilio', sans-serif!important; 
    font-weight: bolder!important;                                               
}

body{
    min-height: 30vh!important;
    background: transparent;
    
}

.Login{
    display: flex;
    justify-content: center;
    padding: 5%;
    background:rgba(76, 175, 79, 0);
    
}

.card{
    width: 200px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,#a30f9e, #ff99ff)!important;
    border-radius: 20px;
    stroke: #a30f9e;
    outline: none!important;
}
