.img {
    position: relative;
    width: 30rem !important;
    height: 30rem !important;
    background-image: linear-gradient(aqua, white);
    z-index: 3!important;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.daniel{
    position: absolute;
    top: 100;
    left: 70;
    width: 15rem!important;
    height: 15rem!important;
    overflow: hidden;
    border-radius: 300px!important;
    margin: 3rem!important;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end!important;
    text-align:right;
    transition: 0.5s ease-in-out;
}

.daniel:hover {
    transform: translate(-0.1rem, -0.1rem);
    transition: 0.5s;
}

.danielTexto{
    position: relative;
    top: 0;
    left: 0;
    width: 15rem!important;
    height: 15rem!important;
    border-radius: 300px;
    rotate: -20deg;
    overflow: hidden;
    margin: 3rem!important;
    margin-top: 5rem;
    display: flex;
    justify-content:center;
    font-size: 35px!important;
    background-color: #a30fa3;
    color: white;
    z-index: 0;
    align-items: flex-end!important;
    text-align: center;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.daniel:hover ~ .danielTexto {
    transform: translate(4rem, 4rem);
    transition: 0.5s;
    opacity: 1;
}

.daniel:hover ~ .aparTextDan{
    color: #a30fa3!important;
    transform: translate(1rem, 1rem);
    transition: 0.5s;
    margin-right: 2rem;
    margin-bottom: 5rem;
    opacity: 1;
}

.aparTextDan{
    color: #1ba14e;
    opacity: 0;
    width: 800px;
    transition: 0.5s;
    rotate: 3deg;
}

html {
    scroll-behavior: smooth;
  }

.equipe{
    font-size: 60px;
    color: white;
}

.fundo{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    align-items: center;
    background-color: #a30fa3;
}

.bruna {
    position: absolute;
    top: 100;
    left: 00;
    width: 15rem!important;
    height: 15rem!important;
    overflow: hidden;
    border-radius: 300px!important;
    margin: 3rem!important;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end!important;
    text-align:right;
    transition: 0.5s ease-in-out;
}

.brunaTexto{
    position: relative;
    top: 0;
    left: 0;
    width: 15rem!important;
    height: 15rem!important;
    overflow: hidden;
    border-radius: 300px!important;
    margin: 3rem!important;
    margin-top: 5rem;
    display: flex;
    justify-content:center;
    font-size: 35px!important;
    background-color: #a30fa3;
    color: white;
    z-index: 0;
    align-items: flex-end!important;
    text-align: center;
    transition: 0.5s ease-in-out;
    rotate: 10deg;
}


h4{
    font-size: 20px!important;
}

.bruna:hover {
    transform: translate(0.1rem, -0.1rem);
    transition: 0.5s;
}

.bruna:hover + .brunaTexto {
    transform: translate(-4rem, 4rem);
    transition: 0.5s;
}

.boxC{
    position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.boxL{
    position: relative;
  display: flex;
  justify-content: flex-end!important;
  align-items: center;
  flex-wrap: wrap;
}


.aparText{
    color: #1ba14e;
    opacity: 0;
    width: 800px;
    transition: 0.5s;
    rotate: -5deg;
}



.bruna:hover ~ .aparText{
    color: #a30fa3!important;
    transform: translate(1rem, 1rem);
    transition: 0.5s;
    opacity: 1;
}

.imgMulher {
    margin-top: 30px;
    background: linear-gradient(to bottom, rgba(163, 15, 158, 40%) 5%, rgba(255, 255, 255, 0)), url(https://psiueducacao.com/wp-content/uploads/2019/05/mulheres-empreendedoras.jpg);
    background-size: cover;
    width: 300px !important;
    background-position: center;
    border-radius: 30px;
    padding: 3%;
}

.padding {
    padding: 3%;
    width: 98vw!important;
    background: linear-gradient(to bottom, rgba(163, 15, 158, 40%), rgba(163, 15, 158, 70%)), url(https://psiueducacao.com/wp-content/uploads/2019/05/mulheres-empreendedoras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.textoConta {
    text-align:start!important;
    height: 450px !important;
    max-width: 800px!important;
}

.branco2 {
    color: white;
}

.centro {
    text-align: center;
}

.quebra {
    width: 600px;
    margin-top: 30px;
    padding: 90px;
    border-radius: 10%;
    box-shadow: 14px 17px 20px 8px rgba(163,15,158,0.5);
    background: #a30f9e;
    background-size: 10%;
    font-size: 50px !important;
    text-align: left;
    color: white;
}

h3.grand {
    font-size: 40px;
}

h3 {
    margin: 0px;
    font-size: 25px;
    font-family: 'Magilio', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Magilio', sans-serif;
}

.quem {
    font-size: 80px;
    color: white;
    font-family: 'Magilio', sans-serif;
}

.display {
    display: inline;
}

.redir {
    margin: 6px;
    text-align: center;
}

.redir2 {
    margin: 6px;
    margin-bottom: 30px !important;
    text-align: center;
}

.contain {
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.valores {
    margin: 1px;
}

.cru {
    text-decoration:underline;
    box-shadow: inset 0 0 0 0 #a30f9e;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.cru:hover {
    box-shadow: inset 1000px 0 0 0 #a30f9e;
    color: white;
}

.cardMVV {
    max-width: 300px!important;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff99ff;
    outline-style: solid !important;
    border-radius: 20px;
    margin: 30px !important;
    padding: 20px;
}

.cardMVV:hover {
    background-color: #ff99ff4f;
}

.cardT {
    color: white;
}

.cardD {
    color: white;
}

.cardInnerMargin {
    margin-top: 0px;
    margin-bottom: 0px;
}