.text-decorator-none {
    text-decoration: none;
    
}



.imagem-produto{
    width: 100px;
    height: 100px;
    
}
.conteudoPd{
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    top:10px; 
     
    
}

.cardflex{
    display: inline-block;
       
}
.cardPd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.btnspace{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.btncarrinho{
    padding: 0.6rem;
    border-radius: 5px;
    

}

.btncard{
    margin-top: 5px;
    display: flex !important;
    justify-content: flex-start !important;
}