.text-decorator-none {
    text-decoration: none;
}

.imagem-produto{
    width: 200px;
    height: 200px;
}

.cardflex{

    display: flex;
    flex-direction: row;
    justify-content: space-between ;
       
}