.imagem2{
    background-image: url(https://portaldocurta.files.wordpress.com/2012/06/monsters-inc-sulley-and-mike-wallpaper-1920a.jpg?w=700) !important;
    background-repeat: no-repeat !important; 
    width: 100vh !important; 
    min-height: 100vh !important; 
    background-size: cover !important; 
    background-position: center !important;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.text-decorator-none2{
    text-decoration: none
}