

.textos2{
    font-weight: bold !important;
}

.btnCad{
    background-color: #ff99ff!important;
    margin-right: 10px!important;
    color: white!important;
}

.btnCancelar{
    background-color: red!important;
    margin-right: 20px !important;
    color: white!important;
}

.text-decorator-none2{
    text-decoration: none
}

.cardcadastrar{
    
    background-image: linear-gradient(to top,#a30f9e, #ff99ff)!important;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.campocadastrar{
    
    background-color:white !important; 
    border-radius: 10px;
     
}

