.imagem2{
    background-image: url(https://imagizer.imageshack.com/v2/1000x596q90/924/SUD0SM.png) !important;
    background-repeat: no-repeat !important; 
    width: 100vh !important; 
    min-height: 100vh !important; 
    background-size: cover !important; 
    background-position: center !important;
}

.textos2{
    font-weight: bold !important;
}

.btnCad{
    background-color: #a30f9e!important;
    margin-right: 10px!important;
    color: white!important;
}

.btnCancelar{
    background-color: red!important;
    margin-right: 20px !important;
    color: white!important;
}

.text-decorator-none2{
    text-decoration: none
}