.box1{
    background-color: #a30f9e;
    height: 40px;
}

.box2{
    background-color: #a30f9e;
    height: 60px;
}

.redes{
    font-size: 30px !important;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.textos{
   color: white;
   text-decoration: none;
}

.textos2{
   color: white;
}