
.titulo1 {
    font-size: 80px!important;
    color: white!important;
    font-family: 'Magilio', sans-serif!important;
    margin-left: 50px!important;
    margin-top: 50px!important;
}

.titulo2 {
    color: white!important;
    font-family: 'Magilio', sans-serif!important;
    font-size: 40px!important;
    max-width: 400px!important;
    margin-bottom: 70px!important;
    margin-left: 150px!important;
}

.padding00 {
    padding: 3%;
    background: url(https://i.imgur.com/n0umyw8.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.margin-right{
    margin-right: 700px !important;
}

.letras {
    font-size: 25px !important;
    font-family: 'Magilio', sans-serif !important;
}

.margin-bottom{
    margin-bottom: 20px!important;
}

.textos2{
    font-size: 40px!important;
    font-family: 'Magilio', sans-serif !important;
}

.amoeba{
    position: absolute;
    left: 680px;
    z-index: -2;
    width: 50vw;
    animation: mexe 20s ease-in-out infinite;
    transform-origin: 50% 50%
}

@keyframes mexe {
        0%   { transform: scale(1)   translate(10px, 90px) ; }
        50% { transform: scale(1)   translate(10px, 60px); }
        75% { transform: scale(1.1)   translate(10px, 30px);}
        85% { transform: scale(1.2)   translate(20px, 75px); }
        100% { transform: scale(1)   translate(10px, 90px); }
}