.imgcar {
    width:110vw!important;
    height: 60vh; 
    justify-content: center;  
}

.carosel{
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    width: 98vw!important;
    height: 66vh;
    z-index: 0;
    justify-content: center!important;
}

.jhmYzC{
    background-color: white!important;
}